
<div class="titulo col s12" align="center">
  <h1>Editar Team</h1>
</div>


<div class="row">
  <div class="col s10 offset-s1 l8 offset-l2">
      <div class="acceso-card">

        <div class="row">
          <div class="col s12">
            <%= render "form_pagination.html", Map.put(assigns, :action, Routes.team_path(@conn, :update, @team)) %>
          </div>
        </div>

      </div>
  </div>
</div>

<span><%= link "Back", to: Routes.team_path(@conn, :index) %></span>
