<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dscrum · Phoenix Framework</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
    </header>
    <div class="fondo">
      <main role="main" class="contenido">
        <div class="row">
          <p class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="col s8 offset-s2 m4 offset-m4 l4 offset-l4 alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        </div>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <%= if signed_in?(@conn) do %>
      <div class="menu">
        <div class="label btn-menu"><i class="material-icons">menu</i></div>
        <div class="spacer"></div>

        <%= link to: Routes.team_path(@conn, :index, %{"index" => 0, "size" => 5}), class: "item" do %>
          <span><i class="material-icons">supervised_user_circle</i> <br>Teams</span>
        <% end %>
        
        <%= link to: Routes.user_path(@conn, :index), class: "item" do %>
          <span><i class="material-icons">account_circle</i> <br>Usuarios</span>
        <% end %>

        <a class="item" href="<%= Routes.session_path(@conn, :delete) %>">
          <span><i class="material-icons">exit_to_app</i> <br>Cerrar Sesión</span>
        </a>
      </div>
    <% end %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-messaging.js"></script>
    <script>window.userToken = "<%= assigns[:token] %>"</script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
