
<div class="titulo col s12" align="center">
  <h1>Crear Usuario</h1>
</div>

<div class="row">
  <div class="col s10 offset-s1 l8 offset-l2">
      <div class="acceso-card">

        <div class="row">
          <div class="col s12">
            <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
          </div>
        </div>

      </div>
  </div>
</div>


<!--<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>!-->