/* This file is for your main application css. */

@import "./phoenix.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');



html, body { min-height: 100vh; }
body { margin: 0; 
    font-family: 'Roboto', sans-serif;
    background: #000000; }
    
/* login */
.acceso-logo img{
    margin-top: 0;
    width: 30%;
    animation-name: animation-in;
    animation-duration: 3s;
}

.acceso-titulo {
    color: white;
    padding-bottom: 1.5%;
    font-size: 30px;
}
.acceso-card{

    
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #212121;
    transition: box-shadow .25s;
    border-radius: 20px;

    padding-top: 4%;
    padding-bottom: 4%;
    box-shadow: 0 13px 203px -4px rgba(255, 255, 255, 0.75) !important;
    animation-name: animation-in;
    animation-duration: 3s;
}
.acceso-card-titulo {
    text-align: center;
    color: white;
    font-size: 25px;
}
mat-form-field {
    margin-top: 2%;
}

.fondo-primario{
    background: #212121;
}
/* cabecera */

.container {
    margin-top: 8vh;
    width: 100%;
    min-height: 90vh;
    position: relative;
    z-index: 900;
    padding-bottom: 5%;
}
.fondo {
    min-height: 30vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    animation-name: animation-color;
    animation-duration: 0.5s;
    background: #FF9800;
    box-shadow: 0 13px 23px -4px rgba(255, 255, 255, 0.75) !important;
}

.card {
    background: #fff;
    box-shadow: 0 13px 23px -4px rgba(0,0,0,.75) !important;
}

/* animation */

/* The animation code */
@keyframes animation-color {
    from {background: white;}
    to {background: #FF9800;}
}

/* The animation code */
@keyframes animation-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.btn-primary-color{
    
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    background-color: #0d47a1;
    border: 0.1rem solid #0d47a1;
    color: white;
}

.input-field .prefix {
    color: #ffffff !important;
}

.input-field .prefix.active {
    color: #ffffff !important;
}

.btn-acceso {
    background-color: #FF9800 !important;
    text-transform: none !important;
}

.color-text-input{
    color: #fff;
}
/* naranja 500
negro 212121
negro 0000 */