/* This file is for your main application css. */

@import "./phoenix.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "./jquery.growl.css";


html, body { min-height: 100vh; }
body { margin: 0; 
    font-family: 'Roboto', sans-serif;
    background: #000000; }
    

.fondo {
    height: 30vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    animation-name: animation-color;
    animation-duration: 1s;
    /* background: #FF9800; */
    background: #212121;
    /* box-shadow: 0 13px 23px -4px rgba(255, 255, 255, 0.75) !important; */
    box-shadow: 0px 0px 9px 4px rgba(255, 255, 255, 0.75) !important;
}

.contenido {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

.btn-menu{
  background: #FF9800;
  border-radius: 50%;
  height: 45px;
  width: auto;
  padding: 10px;
  margin: 10px;
}
.btn-add{
  background: #FF9800;
}
.btn-add:hover{
  background: rgb(233, 161, 53);
}

.btn-nuevo{
    position: fixed;
    z-index: 999;
    bottom: 5%;
    right: 5%;
}

.modal-overlay{
  opacity: 0.8 !important;
}

.label-input{
  font-size: .8rem !important;
}
.info-card{
    color: white;
    background: #000000;
}

.border-card{
    border-radius: 20px !important;
}
/* login */
.acceso-logo img{
    margin-top: 8vh;
    width: 300px;
    animation-name: animation-in;
    animation-duration: 1s;
}

.titulo {
    color: white;
    padding-bottom: 1.5%;
    font-size: 30px;
    padding-top: 8vh;
}

.acceso-titulo {
    color: white;
    padding-bottom: 1.5%;
    font-size: 30px;
}
.acceso-card{

    
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #212121;
    transition: box-shadow .25s;
    border-radius: 20px;

    padding-top: 4%;
    padding-bottom: 4%;
    /* box-shadow: 0 13px 23px -4px rgba(255, 255, 255, 0.75) !important; */
    box-shadow: 0px 0px 9px 4px rgba(255, 255, 255, 0.75) !important;
    animation-name: animation-in;
    animation-duration: 1s;
}
.acceso-card-titulo {
    text-align: center;
    color: white;
    font-size: 25px;
}
mat-form-field {
    margin-top: 2%;
}

.fondo-primario{
    background: #212121;
}
/* cabecera */


.card {
    background: #fff;
    box-shadow: 0 13px 23px -4px rgba(0,0,0,.75) !important;
}

/* animation */

/* The animation code */
@keyframes animation-color {
    from {background: #000000;}
    to {background: #212121;}
}

/* The animation code */
@keyframes animation-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.btn-primary-color{
    
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    background-color: #0d47a1;
    border: 0.1rem solid #0d47a1;
    color: white;
}

.input-field .prefix {
    color: #FF9800 !important;
}

.input-field .prefix.active {
    color: #FF9800 !important;
}

 /* label underline focus color */
 .input-field input[type=text]:focus {
  border-bottom: 1px solid #FF9800 !important;
  box-shadow: 0 1px 0 0 #FF9800 !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #FF9800 !important;
 box-shadow: 0 1px 0 0 #FF9800 !important;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #FF9800 !important;
 box-shadow: 0 1px 0 0 #FF9800 !important;
}

.btn-acceso {
    background-color: #FF9800 !important;
    text-transform: none !important;
}

.color-text-input{
    color: #fff;
}
.subtitulo{
  text-align: center; 
  font-size: 40px;
  margin-top: -40px;
}
/* naranja 500
negro 212121
negro 0000 */
.listado{
    
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #212121;
    transition: box-shadow .25s;
    border-radius: 20px;

    padding: 10%;
    /* box-shadow: 0 13px 203px -4px rgba(255, 255, 255, 0.75) !important; */
    box-shadow: 0px 0px 9px 4px rgba(255, 255, 255, 0.75) !important;
    animation-name: animation-in;
    animation-duration: 1s;
}

.radius-img{
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 13px 10px -4px rgba(255, 255, 255, 0.75) !important;
    height: 75px;
    width: 75px;
}
.div-img{
  text-align: center;
}
.card-info-user{
    /* background: #FF9800; */
    border-radius: 20px;
    /* height: 140px; */
    padding-top: 12px !important;
}
.card-info-team{
    /* background: #FF9800; */
    border-radius: 20px;
    /* height: 140px; */
    padding-top: 12px !important;
}
td, th {
  padding: 8px 5px !important;
}

.fixed-action-btn {
    position: relative;
}

.space-top-icon{
    margin-top: 10px;
}
.navegador{
  position: absolute;
}






/* Menu */
.menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 97%;
}
.opciones{
  top: 0px;
  left: 0px;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
  color: white;
  text-align: center;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: rgb(212, 0, 255);
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}

/* fin menu */

.quitar-margin-top-inputs{
  margin-top: -100px;
}


/* foto label */


input[type="file"] {
  display: none;
}

.img-load{
  width: 200px;
  height: 200px;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  border: 3px dashed #fff;
}

.img-show-team{
  width: 200px;
  height: 200px;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  border: 3px solid #fff;
}

.img-load:hover{
  border: 3px dashed #FF9800;
}

.label-foto .title {
  color: grey;
  transition: 200ms color;
}

/* css modal */

.modal-me{
  background: #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 9px 4px rgba(255, 255, 255, 0.75) !important;
}

.modal-user{
  width: 40% !important;
}

.modal-footer-me {
  background-color: #3a104c !important;
  text-align: center !important;
}
.btn-aceptar-modal{
  color: white;
  float: none !important;
  background: #FF9800 !important;
}

.btn-confirmar-modal{
  color: white;
  float: none !important;
  background: green !important;
}
.btn-cancelar-modal{
  color: white;
  float: none !important;
  background: red !important;
}
/* fin css modal */

/* checkbox */

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: initial;
  left: initial;
  opacity: 1;
}

/* Customize the label (the container-check) */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  /* left: 0; */
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid rgb(143, 139, 139);
}
.check-new{
  left: 0px;
  top: 12px;
}
/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: purple;
  border: 0px solid rgb(143, 139, 139);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* fin checkbox */

/* delete-icon-image */
.img-wraps {
  position: relative;
  display: inline-block;
 
  font-size: 0;
}
.img-wraps .closes {
  position: absolute;
  top: 5px;
  right: -10px;
  z-index: 100;
  background-color: #FFF;
  padding: 4px 3px;
  
  color: #000;
  font-weight: bold;
  cursor: pointer;
 
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
  border:1px solid red;
}
.img-wraps:hover .closes {
  opacity: 1;
}
/* fin delete-icon-image */

/* pagination */
.pagination li a {
  color: #ff9800;
}
.pagination li.active {
  background-color: rgb(156, 39, 176);
}
.page {
  display: none;
}
.page-active {
  display: block;
}
.page-user-team {
  margin-top: 35px;
  margin-bottom: -20px;
}
/* fin pagination */

/* css story team */
.story-team-img{
  margin-top: 50px;
  height: 180px;
  width: 180px;
}

/* fin css story team */

/* input date  */

[type="date"] {
  font-size: 18px;
  background:#fff url(https://www.industriambiente.com/media/imagenes/calendar-color-16.png)  97% 50% no-repeat ;
  color: white;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 50px;
}
[type="date"]::-webkit-clear-button {
  display: none;
}

/* fin input date */